intro-to-tensorflow/notMNIST.pickle
embeddings/data/text8
*.zip
.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip

.ipynb_checkpoints/

*.gz

transfer-learning/flower_photos/
face_generation/data

