intro-to-tensorflow/notMNIST.pickle
embeddings/data/text8
*.zip
.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip

.ipynb_checkpoints/

*.gz

transfer-learning/flower_photos/
face_generation/data
face_generation/checkpoint
face_generation/generator.ckpt.data-00000-of-00001
face_generation/generator.ckpt.index
face_generation/generator.ckpt.meta

